.isFixed {
  position: fixed;
  bottom: 12%;
}

.isAbsolute {
  position: absolute;
  top: 0;
}

.cat {
  background-image: url(../../public/images/01_top/main-cat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.h1,
.bottomContents {
  font-size: 64px;
  line-height: 120px;
}

@media screen and (max-width: 480px) {
  .h1,
  .bottomContents {
    font-size: 40px;
  }
}
