.swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
  max-width: 1200px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  max-width: 1500px;
  margin: auto;
  margin-right: 0;
  padding-left: 5%;
  padding-right: 10%;
  overflow: visible;
}

.slider_wrapper {
  position: relative;
  overflow: hidden;
}
